@import '../../styles/breakpoints.scss';

.title.title {
  font-size: 24px;
  line-height: 28px;
  margin: 24px 0 0;

  @media (min-width: $breakpoint-tablet) {
    font-size: 32px;
    line-height: 40px;
  }
}

.content {
  margin-top: 32px;
}

.actionWrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.addTitle.addTitle {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 16px;
}

.addForm {
  padding-top: 16px;
  border-top: 1px solid #d9d9d9;
  margin-top: 16px;
}

.datePicker {
  width: 100%;
}

.addAppointmentButton {
  width: 100%;
  margin-top: 32px;
}