@import '../../styles/breakpoints.scss';

.title.title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;

  @media (min-width: $breakpoint-tablet) {
    font-size: 32px;
    line-height: 40px;
  }
}

.content {
  margin-top: 32px;
}

.formItem {
  margin: 0;

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.formSubmit {
  display: block;
  margin-left: auto;
  margin-top: 24px;
  min-width: 200px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 32px;
  }
}